<h1 class="products-title"><%= t ".title" %></h1>

<%= link_to "New product", new_product_path, class: "new-product-link" %>

<div id="products">
  <% @products.each do |product| %>
    <div class="product-item">
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>